<h5 class="fw-bold mb-1 mt-2">Образование:</h4>
<div>
    {% for education in resume.education.all %}
        <div class="pt-2 border-top">
            <span class="fw-bold">Учебное заведение: </span><span>{{ education.name }}<br></span>
            <span class="fw-bold">Начало обучения: </span><span>{{ education.start_date }}<br></span>
            <span class="fw-bold">Конец обучения: </span><span>{{ education.end_date }}<br></span>
            <span class="fw-bold">Специальность: </span><span>{{ education.speciality }}<br></span>

            {% if education.additional_info %}
                <span class="fw-bold">Доп. информация: </span>
                <span>{{ education.additional_info }}<br></span>
            {% endif %}

            {% if user_obj == user %}
                <a href="{% url 'edit_education' user.pk resume.pk education.pk %}"
                   class="btn btn-secondary mb-2 mt-2">Редактировать</a>
                <a href="{% url 'delete_education' user.pk resume.pk education.pk %}"
                   class="btn btn-danger mb-2 mt-2">Удалить</a><br>
            {% endif %}
        </div>
    {% endfor %}
</div>