{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex flex-row flex-wrap" style="margin-bottom: 460px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Вакансия</th>
                    <th scope="col">Резюме</th>
                    {% if request.user.usertype == 'candidate' %}
                    <th scope="col">Работодатель</th>
                    {% else %}
                    <th scope="col">Кандидат</th>
                    {% endif %}
                    <th scope="col">Открыть чат</th>
                </tr>
                </thead>
                {% for respond in responds %}
                    {% if request.user.usertype == 'candidate' %}
                        {% if respond.resume.author == request.user %}
                            <tbody>
                            <tr>
                                <td class="col-3">
                                    <a class="list-unstyled text-dark" href="{% url 'vacancy' user.pk respond.vacancy.pk %}">
                                        {{ respond.vacancy.position }}
                                    </a>
                                </td>
                                <td class="col-3">
                                    <a class="list-unstyled text-dark" href="{% url 'resume' user.pk respond.resume.pk %}">
                                        {{ respond.resume.position }}
                                    </a>
                                </td>
                                <td class="col-3">
                                    <a class="list-unstyled text-dark"
                                       href="{% url 'profile' respond.vacancy.author.pk %}">
                                        {{ respond.vacancy.author.username|capfirst }}
                                    </a>
                                </td>
                                <td class="col-3">
                                    <a class="list-unstyled text-dark"
                                       href="{% url 'respond' user.pk respond.resume.pk respond.pk %}">
                                        <i class="bi bi-chat ml-4" style="font-size: 1.5rem;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                    {% if respond.vacancy.author == request.user %}
                        <tbody>

                        <tr>
                            <td class="col-3">
                                <a class="list-unstyled text-dark" href="{% url 'vacancy' user.pk respond.vacancy.pk %}">
                                    {{ respond.vacancy.position }}
                                </a>
                            </td>
                            <td class="col-3">
                                <a class="list-unstyled text-dark" href="{% url 'resume' user.pk respond.resume.pk %}">
                                    {{ respond.resume.position }}
                                </a>
                            </td>
                            <td class="col-3">
                                <a class="list-unstyled text-dark"
                                   href="{% url 'profile' respond.resume.author.pk %}">
                                    {{ respond.resume.author.username|capfirst }}
                                </a>
                            </td>

                            <td class="col-3">
                                <a class="list-unstyled text-dark"
                                   href="{% url 'respond' user.pk respond.resume.pk respond.pk %}">
                                    <i class="bi bi-chat ml-4" style="font-size: 1.5rem;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}