{% extends 'base.html' %}

{% block content %}
    {% if user_obj == user or user.usertype == 'company' %}
        <h2 class="fw-bold text-center">{{ resume.title }}</h2>

        {% if user_obj == user %}
            <a href="{% url 'delete_resume' user.pk resume.pk %}" class="btn btn-danger" style="margin-left: 950px;">
                Удалить резюме</a>
            <div>
        {% endif %}

    {% include 'partial/resume_main_block.html' %}

    {% if resume.experience.all %}
        {% include 'partial/experience.html' %}
    {% endif %}

    <div class="border-bottom">
        {% if user_obj == user %}
            <a href="{% url 'create_experience' user.pk resume.pk %}" class="btn btn-secondary mt-2 mb-2 ms-3">Добавить
                блок
                опыта работы</a><br>
        {% endif %}
    </div>

    {% if resume.education.all %}
        {% include 'partial/education.html' %}
    {% endif %}

    <div class="border-bottom">
        {% if user_obj == user %}
            <a href="{% url 'create_education' user.pk resume.pk %}" class="btn btn-secondary mb-2 ms-3">Добавить блок
                образование</a><br>
        {% endif %}
    </div>

    {% if request.user.usertype == 'company' %}
        <div class="row">
            <div class="col-2">
                <button id="addBtn" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Отправить приглашение
                </button>
            </div>
            <div id="place"></div>
        </div>
    {% endif %}
    </div>

        {% if request.user.pk == resume.author.pk %}
            <div>
                {% if responds|length == 0 %}
                {% else %}
                <h2>Отклики резюме</h2>
                {% for respond in responds %}
                    {% if respond.resume == resume %}
                        <div class="card" style="margin-bottom: 30px; width: 70%">
                            <div class="card-body">
                                <dl class="row" style="margin-bottom: 0px;">
                                    <dt class="col-sm-3">Компания</dt>
                                    <dd class="col-sm-9">{{ respond.vacancy.author.username }}</dd>
                                    <dt class="col-sm-3">Должность</dt>
                                    <dd class="col-sm-9"><a class="resum"
                                                            href="{% url 'vacancy' user.pk respond.vacancy.pk %}">
                                        {{ respond.vacancy.position }}</a>
                                    </dd>
                                    <dt class="col-sm-3">Открыть чат</dt>
                                    <dd class="col-sm-9"><a class="list-unstyled text-dark"
                                                            href="{% url 'respond' user.pk user.pk respond.pk %}"><i
                                            class="bi bi-chat ml-4" style="font-size: 1.5rem;"></i></a></dd>
                                </dl>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Выберите резюме</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for vacancy in vacancies %}
                            <div>
                                <button id="{{ vacancy.pk }}" data-bs-dismiss="modal" type="button"
                                        onclick="addResume(event)" data-name="{{ vacancy.pk }}" value="{{ resume.pk }}"
                                        class="btn btn-light">{{ vacancy.position }}
                                </button>
                            </div>
                        {% empty %}
                            <p>У вас нет резюме</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <script>
            function addResume(event) {
                event.preventDefault()
                let answer = {
                    vacancy: event.target.dataset.name,
                    resume: event.target.value
                }
                console.log(answer)
                var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                $.ajax({
                    url: `http://localhost:8000/api/add_resume/`,
                    method: 'POST',
                    headers: {"X-CSRFToken": $crf_token},
                    data: JSON.stringify(answer),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        $('#place').html(`<p style="color: limegreen">Отклик отправлен`)
                    },
                    error: function (response, headers) {
                        console.log(response)
                        $('#place').html(`<p style="color: red">Вы уже откликнулись на эту вакансию`)
                    }
                })

            }
        </script>
    {% endif %}
{% endblock %}
