{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">Просмотр вакансии</h2>
    <div style="margin-bottom: 20px;">
        {% include 'partial/vacancy_detail.html' with update="1" %}

        {% if request.user.usertype == 'candidate' %}
            <div class="row">
                <div class="col-2">
                    <button id="addBtn" type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Откликнуться
                    </button>
                </div>
                <div id="place"></div>
            </div>
        {% endif %}
    </div>
    {% if request.user.pk == vacancy.author.pk %}
        <div>
            {% if responds|length == 0 %}
            {% else %}
            <h2>Резюме которые откликнулись</h2>
            {% endif %}
            {% for respond in responds %}
                {% if respond.vacancy == vacancy %}
                    <div class="card" style="margin-bottom: 30px; width: 70%">
                        <div class="card-body">
                            <dl class="row" style="margin-bottom: 0px;">
                                <dt class="col-sm-3">ФИО</dt>
                                <dd class="col-sm-9">{{ respond.resume.name }} {{ respond.resume.last_name }}</dd>
                                <dt class="col-sm-3">Должность</dt>
                                <dd class="col-sm-9"><a class="resum"
                                                        href="{% url 'resume' respond.resume.author.pk respond.resume.pk %}">
                                    {{ respond.resume.position }}</a>
                                </dd>
                                <dt class="col-sm-3">Открыть чат</dt>
                                <dd class="col-sm-9"><a class="list-unstyled text-dark" href="#"><i
                                        class="bi bi-chat ml-4" style="font-size: 1.5rem;"></i></a></dd>
                            </dl>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выберите резюме</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for resume in resumes %}
                        <div>
                            <button id="{{ resume.pk }}" data-bs-dismiss="modal" type="button"
                                    onclick="addResume(event)" data-name="{{ vacancy.pk }}" value="{{ resume.pk }}"
                                    class="btn btn-light">{{ resume.position }}
                            </button>
                        </div>
                    {% empty %}
                        <p>У вас нет резюме</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function addResume(event) {
            event.preventDefault()
            let answer = {
                vacancy: event.target.dataset.name,
                resume: event.target.value
            }
            console.log(answer)
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            $.ajax({
                url: `http://localhost:8000/api/add_resume/`,
                method: 'POST',
                headers: {"X-CSRFToken": $crf_token},
                data: JSON.stringify(answer),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $('#place').html(`<p style="color: limegreen">Отклик отправлен`)
                },
                error: function (response, headers) {
                    console.log(response)
                    $('#place').html(`<p style="color: red">Вы уже откликнулись на эту вакансию`)
                }
            })

        }
    </script>

{% endblock %}
